.button {
    -fx-background-color: rgba(113, 135, 169, 1); /* Bleu transparent */
    -fx-background-radius: 2em; /* Coins arrondis */
    -fx-padding: 5px; /* Espace intérieur des boutons */
}
